@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --error-color:rgb(201, 3, 3);
    --success-color:rgb(22, 122, 22);
    --expiry-color:rgb(10, 10, 139);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1.25rem;
    width: 55%;
    height:30px;
    padding:0.3rem;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    border-radius: 0.3125rem;
    box-shadow:0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.05);
}

.error-container{
    background-color: rgb(235, 192, 192);
}

.success-container{
    background-color: rgb(204, 243, 204);
}

.expiry-container{
    background-color: rgb(223, 223, 247);
}

.alert-message{
    flex-grow:1;
    margin-left: 0.625rem;
}

.error-container>.fas{
    margin:0.187rem;
    color: var(--error-color);
}

.success-container>.fas{
    margin:0.187rem;
    color: var(--success-color);
}

.expiry-container>.fas{
    margin:0.187rem;
    color: var(--expiry-color);
}
