:root{
    --online-color : rgb(49, 194, 49);
    --offline-color : red;
}
body{
    background-color: lightgray;
}
.avatar-img{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin: 1rem;
}

.avatar-color-one{
    border: 0.3rem solid var(--online-color);
}

.avatar-color-two{
    border: 0.3rem solid var(--offline-color);
}

.avatar-xs{
    width: 1.25rem;
    height: 1.25rem;
}

.avatar-s{
    width: 2.18rem;
    height: 2.18rem;
}

.avatar-m{
    width: 3.125rem;
    height: 3.125rem;
}

.avatar-l{
    width: 4.06rem;
    height: 4.06rem;
}

.avatar-xl{
    width: 5rem;
    height: 5rem;
}
