@media only screen and (max-width: 2000px) {
    .responsive-image{
              width:45rem;
              height:40rem;
              border: 0.2rem solid royalblue;
          }
      }    
@media only screen and (max-width: 1500px) {
    .responsive-image{
            width:re35m;
            height:30rem;
            border: 0.2rem solid red;
        }
    }


@media only screen and (max-width: 760px) {
    .responsive-image{
            width:25rem;
            height:20rem;
            border: 0.2rem solid yellow;
        }
    }


.round-img{
    height:25rem;
    width: 25rem;
    border-radius: 50%;
}



