@import './button.css';

.modal-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 1.25rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #090553;
    padding: 1rem;
    position: fixed;
    width: 17rem;
    height: 7rem;
    left:37vw;
    right:45vw;
    top:40vh;
    align-items: center;
    justify-content: space-around;
    background-color: #eef2ff;
    box-shadow: 0 0.325rem 0.325rem 0 rgba(0, 0, 0, 0.082) ;
}

.modal-txt{
    text-align: center;
    color: #090553;
    font-weight: 560;
}

.yes-no-btns{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
    
}

.modal-no{
    width: 5rem;
    height: 2rem;
    padding: 0.1rem;
    text-align: center;
}
.modal-yes{
    width: 5rem;
    height: 1rem;
    text-align: center;
    padding-bottom: 1.8rem ;
}

