@import './button.css';

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(37, 36, 36, 0.027);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.075);
    background-color: 
    #090553;
    border-radius:0.35rem;
    color: #e0e7ff;
    flex-wrap: wrap;
}

.lib-logo{
    display: flex;
}

.hero-img{
    width:3.85rem;
    height:3.85rem;
    border-radius: 50%;
    border: 2px solid #fde68a;
}

.header-name{
    font-size: 1.5rem;
    margin-left:1vw;
    align-self: center;
    color: #fde68a;
}

.github-btn{
    width: 6rem;
    height: 3.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #e0e7ff;
}


.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-img{
    width: 17rem;
    height: 17rem;
    padding-top:2rem;
    padding-bottom: 1rem;
}

.welcome-msg{
    font-size: 1.5rem;
    font-weight: 550;
}

.start-btn{
    margin: 1rem;
    width: 10rem;
}

.footer-msg{
    text-align: center;
}

.button-nav{
    color: #e0e7ff;
    text-decoration: none;
}